<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<audioConfig current="config 1">
		<setup name="config 1">
			<audio soundcard="wasapi://{0.0.0.00000000}.{1b57734e-2cb2-4e05-adf6-8b31bda22cba} (3- DDJ-SB2)" leftChannel="1" rightChannel="2" source="master" />
			<audio soundcard="wasapi://{0.0.0.00000000}.{1b57734e-2cb2-4e05-adf6-8b31bda22cba} (3- DDJ-SB2)" leftChannel="3" rightChannel="4" source="headphones" />
		</setup>
	</audioConfig>
	<automation>
		<autoBPMMatch modified="yes">always</autoBPMMatch>
		<autoPitchLock modified="yes">no</autoPitchLock>
		<autoGain modified="yes">auto</autoGain>
		<autoKey modified="yes">no</autoKey>
		<autoCue modified="yes">cue/skip silence</autoCue>
		<smartPlay>no</smartPlay>
		<smartPlayLimitPitchRange modified="yes">no</smartPlayLimitPitchRange>
		<smartCue>no</smartCue>
		<smartLoop modified="yes">yes</smartLoop>
		<quantizeLoop modified="yes">yes</quantizeLoop>
		<quantizeSetCue modified="yes">yes</quantizeSetCue>
		<globalQuantize>1 beat</globalQuantize>
		<smartScratch>no</smartScratch>
		<cueLoopAutoSync>yes</cueLoopAutoSync>
		<resetPitchOnLoad>no</resetPitchOnLoad>
		<resetEqOnLoad modified="yes">yes</resetEqOnLoad>
		<resetStemsOnLoad modified="yes">All</resetStemsOnLoad>
		<resetFXOnLoad modified="yes">yes</resetFXOnLoad>
		<resetKeyOnLoad>yes</resetKeyOnLoad>
		<autoHeadphones>always</autoHeadphones>
		<pflOnSelect>yes</pflOnSelect>
	</automation>
	<controls>
		<playMode>play-pause</playMode>
		<cueMode modified="yes">cue-hold</cueMode>
		<hotcueMode modified="yes">stutter</hotcueMode>
		<updateHotCueOnCueCombo>yes</updateHotCueOnCueCombo>
		<loopBackMode modified="yes">no</loopBackMode>
		<loopAutoMove modified="yes">no</loopAutoMove>
		<loopDefault modified="yes">16.0, 0.031250</loopDefault>
		<loopRollDefault>0.250</loopRollDefault>
		<beatjump modified="yes">1.0</beatjump>
		<keepPlayingPastEnd>no</keepPlayingPastEnd>
		<keepPlayStatusOnLoadSong>no</keepPlayStatusOnLoadSong>
		<eqMode modified="yes">Frequency</eqMode>
		<eqModeDual>Inner</eqModeDual>
		<stemsBleedMuteVocal modified="yes">1.0</stemsBleedMuteVocal>
		<stemsBleedMuteInstru modified="yes">0.30</stemsBleedMuteInstru>
		<stemsBleedOnlyVocal modified="yes">0.0</stemsBleedOnlyVocal>
		<stemsBleedOnlyInstru modified="yes">0.0</stemsBleedOnlyInstru>
		<vinylMode modified="yes">yes</vinylMode>
		<masterTempo modified="yes">yes</masterTempo>
		<pitchRange modified="yes">48.0</pitchRange>
		<autoPitchRange>yes</autoPitchRange>
		<pitchResetSpeed>1.0</pitchResetSpeed>
		<faderStart>no</faderStart>
		<faderStartStop>no</faderStartStop>
		<crossfaderCurve modified="yes">Smooth</crossfaderCurve>
		<crossfaderDisable modified="yes">yes</crossfaderDisable>
		<crossfaderCustom />
		<crossfaderHamster>no</crossfaderHamster>
		<levelfaderHamster>no</levelfaderHamster>
		<effects>Echo,Reverb,Wahwah,Spiral,,Cut,,Backspin|Echo,Reverb,Cut,,,Spiral||</effects>
		<internalPluginLocations />
		<masterEffects />
		<mixFx>Echo</mixFx>
		<pluginBanks>Echo,Flanger,Reverb|Cut,Distortion,Wahwah</pluginBanks>
		<padsPagesOrder />
		<padsPagesHidden />
		<sixteenPadsMode>Auto</sixteenPadsMode>
		<padsPagesChanged>DDJSB2-page0=hotcues, DDJSB2-page8=EDM HOTCUES, DDJSB2-page4=beatjump, APCMINI-page0=stems, deck1-page1=hotcues, APCMINI-page1=hotcues, APCMINI-page2=sb2-loop</padsPagesChanged>
		<padsSkinIndependent modified="yes">no</padsSkinIndependent>
		<loopPadPage modified="yes">0</loopPadPage>
		<autoSortCues>no</autoSortCues>
	</controls>
	<skins>
		<skinWaveformType modified="yes">colors</skinWaveformType>
		<skinOverviewType>auto</skinOverviewType>
		<skinWaveformScratchType>colors</skinWaveformScratchType>
		<coloredWaveforms modified="yes">per-deck</coloredWaveforms>
		<waveUseFrequency modified="yes">yes</waveUseFrequency>
		<waveGrayOnKill modified="yes">no</waveGrayOnKill>
		<waveformCenter>Centered</waveformCenter>
		<skinPlayheadShadow modified="yes">no</skinPlayheadShadow>
		<showGridLines modified="yes">yes</showGridLines>
		<beatCounterRange modified="yes">32</beatCounterRange>
		<rhythmZoom modified="yes">0.010</rhythmZoom>
		<scratchZoomVertical>0.250</scratchZoomVertical>
		<rhythmZoomSaved>0.250</rhythmZoomSaved>
		<scratchZoomSaved>0.250</scratchZoomSaved>
		<touchScreenMode>no</touchScreenMode>
		<multiTouchTwoFingerScroll>no</multiTouchTwoFingerScroll>
		<onScreenKeyboard modified="yes">Off</onScreenKeyboard>
		<skinEmptyButtons modified="yes">yes</skinEmptyButtons>
		<customButtons>=pitch 158 bpm, [`skin_panel &apos;@fxknobs_deck1&apos;  on`=skin_panel &apos;@fxknobs_deck1&apos;  on, =set_cue, `left_deck`=leftdeck](3), =crossfader_disable, [=seek 0ms, rev=reverse, =reinit_controller, =pad_has_16pads, `get_beat_counter`=goto_cue, =var_list](6), =</customButtons>
		<skin3FxLayout modified="yes">yes</skin3FxLayout>
		<skin6FxLayout>no</skin6FxLayout>
		<vuMeter modified="yes">Peak</vuMeter>
		<clockDisplay>24h</clockDisplay>
		<cueDisplay>name</cueDisplay>
		<savedLoopDisplay>name</savedLoopDisplay>
		<displayTime>left</displayTime>
		<keyDisplay modified="yes">Musical</keyDisplay>
		<cpuMeter modified="yes">peakaudio</cpuMeter>
		<hideSongInfo>no</hideSongInfo>
		<tooltip>yes</tooltip>
		<tooltipDelay>500</tooltipDelay>
		<showCoverForDragDrop modified="yes">no</showCoverForDragDrop>
		<RPM modified="yes">4 beats</RPM>
		<dialogsColorTheme>automatic</dialogsColorTheme>
		<cleartype>yes</cleartype>
		<maximized modified="yes">1</maximized>
		<skin modified="yes">Default/:Pro</skin>
		<skinLoaded>Default=Pro, Default/=Pro</skinLoaded>
		<skinPosition />
		<skinWindows>
			<window name="_mainwindow">
				<idx0 x="661" y="160" width="768" height="637" />
			</window>
		</skinWindows>
		<skinPanels>@pads16_deck1, !@fxsliders_deck1, @pads16_deck3, !@fxsliders_deck3, @pads16_deck2, !@fxsliders_deck2, @pads16_deck4, !@fxsliders_deck4, !!@fxsingle_deck1, !@fxknobs_deck1, !@fx6slots_deck1, !@fxsingle_deck3, !!@fxknobs_deck3, !!@fx6slots_deck3, !!@fxsingle_deck2, !@fxknobs_deck2, !!@fx6slots_deck2, !@fxsingle_deck4, !!@fxknobs_deck4, !!@fx6slots_deck4, !!@hotcues_deck2, @custom_deck2, !!@hotcues_deck22, !!@savedloops_top_deck2, !!@timecode_deck2, !@savedloops_deck2, @loopdefault_deck2, !@looprec_deck2, !@loopbuttons_deck2, !@loopadjust_deck2, !@padfavorite_deck2, @padparams_deck2, barcounter, browser, leftdeck1, rightdeck2, !mastermixer, audiomixer, !videomixer, !scratchmixer, !rightdeck4, !video, fxsliders_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@fxknobs_deck1, !@padfavorite_deck1, @padparams_deck1, !leftdeck2, rightdeck1, !leftdeck3</skinPanels>
		<skinTextzones />
		<skinSplitState>cover=0.150, sideview=(0.399209), folders=0.180, info=(0.819913), effects=(1.0), ads=(0.878510), crossfader=0.50, crossfader2=0.50</skinSplitState>
		<skinRacks />
		<keyboardShowKeymapOverlay>yes</keyboardShowKeymapOverlay>
		<keyboardKeymapOverlayOnStickyKeys>yes</keyboardKeymapOverlayOnStickyKeys>
	</skins>
	<audio>
		<audioAutoDetect modified="yes">no</audioAutoDetect>
		<exclusiveAudioAccess>no</exclusiveAudioAccess>
		<splitHeadphones>no</splitHeadphones>
		<equalizerInHeadphones>yes</equalizerInHeadphones>
		<headphonesGain>0.50</headphonesGain>
		<prelistenOutput>0</prelistenOutput>
		<boothMicrophone>no</boothMicrophone>
		<metronomeVolume>2.0</metronomeVolume>
		<gainSliderIncludesAutoGain>yes</gainSliderIncludesAutoGain>
		<faderCurve>0.50</faderCurve>
		<zeroDB modified="yes">-1dB</zeroDB>
		<rampStartTime>0.0</rampStartTime>
		<rampStopTime>0.0</rampStopTime>
		<rampScratchTime modified="yes">0.0</rampScratchTime>
		<equalizerFrequencySpread modified="yes">Full Kill</equalizerFrequencySpread>
		<equalizerLowFrequency>200</equalizerLowFrequency>
		<equalizerMidFrequency>1700</equalizerMidFrequency>
		<equalizerHighFrequency>6500</equalizerHighFrequency>
		<filterDefaultResonance modified="yes">Strong</filterDefaultResonance>
		<fxProcessing modified="yes">Post-fader</fxProcessing>
	</audio>
	<video>
		<useVideoSkin modified="yes">yes</useVideoSkin>
		<videoSkin>for Broadcast:broadcast</videoSkin>
		<showVideoSkinOnPreview modified="yes">yes</showVideoSkinOnPreview>
		<videoLogo modified="yes">no</videoLogo>
		<videoLogoImage />
		<videoLogoSize>Medium</videoLogoSize>
		<videoLogoPosition>Right-Top</videoLogoPosition>
		<videoCrossfader>Smart</videoCrossfader>
		<videoVolumeLink>no</videoVolumeLink>
		<videoTransition modified="yes">Satellite</videoTransition>
		<videoRandomTransition>no</videoRandomTransition>
		<videoFx modified="yes">Text</videoFx>
		<videoAudioOnlyVisualisation>Slideshow</videoAudioOnlyVisualisation>
		<letterBoxing>bars</letterBoxing>
		<videoFPS>30</videoFPS>
		<videoMicroFrames>Smart</videoMicroFrames>
		<videoResampleQuality>Medium</videoResampleQuality>
		<videoShaderQuality>Auto</videoShaderQuality>
		<videoUseDXVA>yes</videoUseDXVA>
		<videoDriver>AMD Radeon HD 5450</videoDriver>
		<videoMaxMemory>1010</videoMaxMemory>
		<videoForceFullscreen>0</videoForceFullscreen>
		<videoDelay>0.0</videoDelay>
		<videoWindowAlwaysOnTop>yes</videoWindowAlwaysOnTop>
		<videoWindowPosition>(1920x0 1920x1080; 0x0 1920x1020; -1920x0 1920x1080)=2400x270 960x540</videoWindowPosition>
		<videoCreateLinkOnDrop>yes</videoCreateLinkOnDrop>
		<startVideoOnLoad>yes</startVideoOnLoad>
	</video>
	<karaoke>
		<karaokeBackground>Default</karaokeBackground>
		<karaokeBackgroundMusic>automix</karaokeBackgroundMusic>
		<karaokeBackgroundImage />
		<karaokeBackgroundVolume>0.750</karaokeBackgroundVolume>
		<karaokeVideoSkin>for Karaoke:karaoke</karaokeVideoSkin>
		<karaokeSkipSilence>yes</karaokeSkipSilence>
		<karaokeAutoRemovePlayed>yes</karaokeAutoRemovePlayed>
		<karaokeDualDeck>no</karaokeDualDeck>
	</karaoke>
	<controllers>
		<mixerOrder>3124</mixerOrder>
		<controllerTakeoverMode>Pickup</controllerTakeoverMode>
		<controllerTakeoverModePitch>Pickup</controllerTakeoverModePitch>
		<touchWheelBackspin>yes</touchWheelBackspin>
		<touchWheelForwardspin modified="yes">yes</touchWheelForwardspin>
		<touchWheelSpinThreshold>0.80</touchWheelSpinThreshold>
		<jogSensitivityScratch modified="yes">0.80</jogSensitivityScratch>
		<jogSensitivityCue modified="yes">0.50</jogSensitivityCue>
		<jogSensitivityBend>0.050</jogSensitivityBend>
		<jogVibrationProtection>0</jogVibrationProtection>
		<motorWheelInstantPlay>yes</motorWheelInstantPlay>
		<motorWheelInstantStop>yes</motorWheelInstantStop>
		<motorWheelSmoothPercent>75.0</motorWheelSmoothPercent>
		<motorWheelLockTime>1.0</motorWheelLockTime>
		<controllerRefreshRate>0</controllerRefreshRate>
		<controllerWaveFormZoom>3</controllerWaveFormZoom>
		<disableBuiltInDefinitions>no</disableBuiltInDefinitions>
		<createMidiLog>no</createMidiLog>
		<midiLogLevel>Default</midiLogLevel>
		<controllersCustomization>
			<controller name="APCMINI" mapper="Akai APC Mini - loops" deck="left" />
			<controller name="DDJSB2" mapper="Pioneer DDJ-SB2 - 2021" />
			<controller name="KEYBOARD" mapper="[Default]" />
			<controller name="APCMINI" mapper="Akai APC Mini - loops" deck="right" />
		</controllersCustomization>
		<djcButtons />
		<controllerState />
		<controllerMenu />
	</controllers>
	<timecode>
		<timecodeMode>smart</timecodeMode>
		<timecodeType>AutoDetect</timecodeType>
		<timecodeLeadInTime>0.0</timecodeLeadInTime>
		<timecodeAntiSkip>3</timecodeAntiSkip>
		<timecodeNeedleDropSync>yes</timecodeNeedleDropSync>
		<timecodePitchSliderIgnoreBend>yes</timecodePitchSliderIgnoreBend>
		<timecodeSilence>0.20</timecodeSilence>
		<timecodeCalibrationVolume>1.0</timecodeCalibrationVolume>
		<timecodeCalibrationPhase>0.0</timecodeCalibrationPhase>
	</timecode>
	<sampler>
		<samplerBank modified="yes">FAMOUS</samplerBank>
		<samplerTriggerMode modified="yes">unmute</samplerTriggerMode>
		<samplerDefaultLoopMode>locked</samplerDefaultLoopMode>
		<samplerForceNbColumns>0</samplerForceNbColumns>
		<samplerExportLossless>no</samplerExportLossless>
		<samplerDontSaveSource>no</samplerDontSaveSource>
		<samplerOutputToTriggerDeck>no</samplerOutputToTriggerDeck>
		<samplerRootFolder />
		<samplerOutputDeck>0</samplerOutputDeck>
		<samplerApplyEffectsOnDeckOutput>no</samplerApplyEffectsOnDeckOutput>
		<samplerVideoVolumeLink>yes</samplerVideoVolumeLink>
		<autoSideview>yes</autoSideview>
		<samplerImageSize>small</samplerImageSize>
		<samplerHeadphones>yes</samplerHeadphones>
		<samplerShowEffects>no</samplerShowEffects>
	</sampler>
	<browser>
		<fileFormats>mp3,wav,cda,wma,asf,ogg,m4a,aac,aif,aiff,flac,mpc,ape,weba,opus,vdj,vdjcache,vdjedit,vdjsample,mp4,ogm,ogv,avi,mpg,mpeg,wmv,vob,mov,divx,m4v,mkv,flv,webm,vdjcachev,apng</fileFormats>
		<rootFoldersLocation>LocalMusic=root, OnlineMusic=root, Lists=root, Filters=root, CDJExport=root, MyMusic=LocalMusic, MyVideos=LocalMusic, MyComputer=LocalMusic, Desktop=LocalMusic, Crates=LocalMusic, iTunes=LocalMusic, Traktor=hidden, RekordBox=hidden, IDJPool=OnlineMusic, VJPro=OnlineMusic, Digitrax=OnlineMusic, Deezer=OnlineMusic, Tidal=OnlineMusic, Xiami=OnlineMusic, SoundCloud=OnlineMusic, Beatport=OnlineMusic, Beatsource=OnlineMusic, Playlists=Lists, History=Lists, Cloud=Lists, GeniusDJ=Lists, AskTheDJ=Lists, Sampler=Lists, SpotifyPlaylists=Lists</rootFoldersLocation>
		<iTunesDatabaseFile>C:\Users\trevd\Music\iTunes\iTunes Library.xml</iTunesDatabaseFile>
		<seratoFolder>C:\Users\trevd\Music\_Serato_</seratoFolder>
		<traktorFolder />
		<importV7Databases>yes</importV7Databases>
		<ignoreDrives>0</ignoreDrives>
		<readOnly>no</readOnly>
		<searchInFolder>yes</searchInFolder>
		<searchInDB modified="yes">no</searchInDB>
		<searchInContentUnlimited>yes</searchInContentUnlimited>
		<searchInOnlineCatalogs modified="yes">no</searchInOnlineCatalogs>
		<ContentUnlimitedWhenEmpty>yes</ContentUnlimitedWhenEmpty>
		<OnlineCatalogsWhenEmpty>yes</OnlineCatalogsWhenEmpty>
		<ContentUnlimitedCatalogs />
		<OnlineCatalogs>beatport</OnlineCatalogs>
		<onlineCatalogsContentPreference>All</onlineCatalogsContentPreference>
		<showMusic modified="yes">yes</showMusic>
		<showVideo>no</showVideo>
		<showKaraoke>no</showKaraoke>
		<searchFields modified="yes">65555</searchFields>
		<browserColumns>file=tirm(28.67),arti(15.82),comm(12.41),leng(4.11),bpm(2.28),key(7.43),year(11.11),1see(18.18)|side=tirm(18.12),arti(28.98),comm(16.67),leng(6.13),key(30.11)|file(play)=titl(21.87),arti(21.87),mix(17.5),leng(8.75),bpm(8.75),key(8.75),labl(12.5)|file(virt)=titl(25),arti(25),mix(20),leng(10),bpm(10),key(10)|file(samp)=spla(4),spos(4),titl(88),sedi(4)|side(auto)=titl(30),arti(30),mix(20),leng(10),plat(10)|side(kara)=lpos(10),titl(35),arti(35),sing(20)|file(hist)=titl(30),arti(30),mix(20),plti(20)|side(play)=titl(40),arti(40),mix(20)|side(sbnk)=spla(10),titl(60),svol(30)|file(ask)=msg(60),from(20),askd(20)|file(sbnk)=spla(4),spos(4),titl(40),sgrp(20),svol(16),slen(12),sedi(4)</browserColumns>
		<browserSort>file=-First Seen|file(sear)=Artist|file(play)=-Label|file(samp)=Original Sort Order|file(hist)=Play Time|file(ask)=Original Sort Order|file(sbnk)=Original Sort Order</browserSort>
		<browserGridColumns>file=alba,titl,arti,mix,star,bpm,leng</browserGridColumns>
		<infoviewColumns>alba,titl,arti,mix,year,albu,genr,remi,comp,bpm,key,leng,1see,Xply,play,comm,usr1,usr2</infoviewColumns>
		<showHorizontalSideList>no</showHorizontalSideList>
		<lockFolderOrder>no</lockFolderOrder>
		<keepSortOrder>yes</keepSortOrder>
		<browserSearchByFirstLetter>yes</browserSearchByFirstLetter>
		<lastSelectedFolder modified="yes">D:\Bounce</lastSelectedFolder>
		<coverFlow>no</coverFlow>
		<lastTrackListDate modified="yes">2022/04/20</lastTrackListDate>
		<historyDelay modified="yes">30</historyDelay>
		<writeHistory>yes</writeHistory>
		<prelistenVisible modified="yes">no</prelistenVisible>
		<prelistenStopOnChange>no</prelistenStopOnChange>
		<prelistenStartPos>-1.0</prelistenStartPos>
		<autoSearchDB>yes</autoSearchDB>
		<showZipKaraoke modified="yes">no</showZipKaraoke>
		<showM3UAsFolders>yes</showM3UAsFolders>
		<fontSize modified="yes">1.10</fontSize>
		<browserPadding modified="yes">Medium</browserPadding>
		<browserBPMDigits>1</browserBPMDigits>
		<savePlaylist>yes</savePlaylist>
		<saveUnplayedToSidelist>no</saveUnplayedToSidelist>
		<removePlayedFromSidelist>no</removePlayedFromSidelist>
		<browserTextFit>smart</browserTextFit>
		<tracklistFormat modified="yes">%author - %title (%remix)</tracklistFormat>
		<shellIcons>no</shellIcons>
		<sideviewShortcuts>C:\Users\trevd\Documents\VirtualDJ\Playlists\10 for 10 #8.m3u, D:\Bounce</sideviewShortcuts>
		<sideViewShortcutsHidden>sidelist</sideViewShortcutsHidden>
		<sideView modified="yes">D:\Bounce</sideView>
		<gridView modified="yes">no</gridView>
		<triggerPadView modified="yes">no</triggerPadView>
		<sideViewReco modified="yes">next</sideViewReco>
		<RemixesViewProvider>iDJPool</RemixesViewProvider>
		<liveFeedbackProviders>Online</liveFeedbackProviders>
		<logUnsuccessfulSearches>no</logUnsuccessfulSearches>
		<shazam />
		<filterFolderSplitGenreBySlash>yes</filterFolderSplitGenreBySlash>
		<browserAutoZoom modified="yes">no</browserAutoZoom>
		<browserFontSizeButtons modified="yes">yes</browserFontSizeButtons>
		<browserDaysSongsAreNew modified="yes">0</browserDaysSongsAreNew>
		<browserAutoOpenNewDrive modified="yes">no</browserAutoOpenNewDrive>
		<cdjExportStemsConfig>Acapella=vocals, Instrumental=instru+bass+kick+hihat, Melody=instru+bass, Beat=kick+hihat</cdjExportStemsConfig>
		<cdjExportStems>Acapella</cdjExportStems>
		<cdjExportCompatibility modified="yes">CDJ2000nexus</cdjExportCompatibility>
		<cdjExportShowAllDrives>no</cdjExportShowAllDrives>
		<cdjExportAutoSyncCues>Full</cdjExportAutoSyncCues>
		<quickFilters />
		<colorRules />
		<user1FieldName>User 1</user1FieldName>
		<user2FieldName>User 2</user2FieldName>
		<favoriteGenres modified="yes">Bounce</favoriteGenres>
		<favoriteTags1>hit, crowd pleaser, early night, late night, popular, high energy</favoriteTags1>
		<favoriteTags2>wedding, birthday, kids, bar mitzvah, church, underground</favoriteTags2>
		<rememberRecurse modified="yes">yes</rememberRecurse>
		<cdjExportCuesAsMemoryPoints>no</cdjExportCuesAsMemoryPoints>
	</browser>
	<tags>
		<getTagsAuto>yes</getTagsAuto>
		<setTagsAuto modified="yes">yes</setTagsAuto>
		<coverDownload modified="yes">no</coverDownload>
		<getTitleFromTags>yes</getTitleFromTags>
		<getRatingFromTags>no</getRatingFromTags>
		<getCommentFromTags>yes</getCommentFromTags>
		<getCuesFromTags modified="yes">always</getCuesFromTags>
		<getTagFromZip>yes</getTagFromZip>
		<getRemixWhenParsingFilenames>yes</getRemixWhenParsingFilenames>
		<useKeyFromTag>no</useKeyFromTag>
		<cleanTagsInDeckDisplay>yes</cleanTagsInDeckDisplay>
	</tags>
	<automix>
		<automixMode>smart</automixMode>
		<fadeLength>4.0</fadeLength>
		<automixRepeat>no</automixRepeat>
		<automixAutoRemovePlayed>no</automixAutoRemovePlayed>
		<automixDualDeck>no</automixDualDeck>
		<autoMixBeatMatchOnFade>yes</autoMixBeatMatchOnFade>
		<automixSkipLength>4.0</automixSkipLength>
		<automixMaxLength>0</automixMaxLength>
	</automix>
	<internet>
		<internetProxyURL />
		<internetProxyPort />
		<internetProxyUsername />
		<internetProxyPassword />
		<internetLogin modified="yes">trevd1234@gmail.com</internetLogin>
		<stayLoggedIn>yes</stayLoggedIn>
		<dontLogin>no</dontLogin>
		<oneTimeMsg>0</oneTimeMsg>
		<checkUpdates modified="yes">yes</checkUpdates>
		<earlyAccessUpdates modified="yes">yes</earlyAccessUpdates>
		<sendHistory>yes</sendHistory>
		<sendAnonymousStats>yes</sendAnonymousStats>
		<autoRefreshDRM>yes</autoRefreshDRM>
		<liveFeedback modified="yes">no</liveFeedback>
		<usageStats>Controller: APCMINI, Controller: DDJSB2</usageStats>
		<netsearchVideoQuality>hd720</netsearchVideoQuality>
		<xiamiLogin />
		<deezerAccessCode modified="yes">frq2cz15EXicSb1ReegUN87FvoHxDi7NNku1GXkxhnWI8ouc5W</deezerAccessCode>
		<deezerLoginStatus modified="yes">0</deezerLoginStatus>
		<soundcloudAccessCode />
		<soundcloudRefreshCode modified="yes">dA4BpzdxYLi4RZFPTMnfUeCxwppgnuUo</soundcloudRefreshCode>
		<soundcloudAccessCode2 modified="yes">ZEI2RXR/an9hVXM/XmdUX2RegHlpelmPj4mKgoqSc46OIgwAAA==</soundcloudAccessCode2>
		<tidalRefreshCode modified="yes">eyJraWQiOiJoUzFKYTdVMCIsImFsZyI6IkVTNTEyIn0.eyJ0eXBlIjoibzJfcmVmcmVzaCIsInVpZCI6MTY1NzE5NzcxLCJzY29wZSI6InJfdXNyIHdfdXNyIiwiY2lkIjozMjQwLCJzVmVyIjowLCJnVmVyIjowLCJpc3MiOiJodHRwczovL2F1dGgudGlkYWwuY29tL3YxIn0.AUyU0OFAuwkaxqugY7c6i4GBOeclUoFw7888GYXj9zK7jVBybTNnt3uXGOD1bjWFT5V0Ml6Sm2L3ipYNIX981oAZAfqup3kJYqebMhJp8SPpL4JAYxB3OAcRBWK799ixS8wMF1JkUg8_pLXYUVT62WZcFoxmbdRrpfkqFpm_lDJrV4ll</tidalRefreshCode>
		<iRemote modified="yes">no</iRemote>
		<iRemoteList />
		<iRemoteDefaultPort>4243</iRemoteDefaultPort>
		<vdjRemoteDevices>Vodafone Smart V8|A257</vdjRemoteDevices>
		<os2l modified="yes">no</os2l>
		<os2lDirectIp />
		<askTheDJMonitoring modified="yes">off</askTheDJMonitoring>
		<askTheDJFrequency>5</askTheDJFrequency>
		<askTheDJTwitterHashtag />
		<netsearchAudioQuality>high</netsearchAudioQuality>
	</internet>
	<record>
		<recordFile modified="yes">D:\Mixes\Mix-%date.mp3</recordFile>
		<recordFormat modified="yes">mp3</recordFormat>
		<recordQuality modified="yes">high</recordQuality>
		<recordAutoStart>no</recordAutoStart>
		<recordWaitForSound>yes</recordWaitForSound>
		<recordOverwrite>change filename</recordOverwrite>
		<recordAutoSplit>no</recordAutoSplit>
		<recordWriteCueFile>no</recordWriteCueFile>
		<recordVideoResolution>852x480</recordVideoResolution>
		<recordMicrophone modified="yes">no</recordMicrophone>
		<recordBitDepth>16-bit</recordBitDepth>
		<recordVideoFps>30</recordVideoFps>
	</record>
	<broadcast>
		<broadcastMode>direct</broadcastMode>
		<broadcastVideoQuality>mid</broadcastVideoQuality>
		<broadcastVideoQualityCustom />
		<broadcastServers>
			<server name="default" protocol="1" format="1" bitrate="128" />
		</broadcastServers>
		<broadcastServer>default</broadcastServer>
		<broadcastDirectFormat>mp3</broadcastDirectFormat>
		<broadcastDirectPort>8000</broadcastDirectPort>
		<broadcastDirectQuality>medium</broadcastDirectQuality>
		<broadcastDirectMaxClients>64</broadcastDirectMaxClients>
		<broadcastDirectName />
		<broadcastSongInfo>yes</broadcastSongInfo>
		<broadcastSongInfoFormat>%artist - %titleremix</broadcastSongInfoFormat>
		<podcastName>My VirtualDJ Mix</podcastName>
		<broadcastVideoProvider>0</broadcastVideoProvider>
		<broadcastVideoURL />
		<broadcastVideoKey />
	</broadcast>
	<options>
		<language>English</language>
		<loadSecurity modified="yes">silent</loadSecurity>
		<endOfSongWarning>30</endOfSongWarning>
		<autoDiscMarker>no</autoDiscMarker>
		<sandboxSplitHeadphones>yes</sandboxSplitHeadphones>
		<sandboxPreviewOnly>no</sandboxPreviewOnly>
		<VDJScriptGlobalVariables>$colorscheme=0=0.00000, $4decks=0=0.00000, $waveformpos=0=0.00000, $4mixer=0=0.00000, $phrasecircle=0=1.00000, $4waveforms=0=0.00000, $spinner=1=2.00000, $cfassign=0=0.00000, $remotestems_padmode=1818584692=0.00000, $remotestems_controlmode=1818584692=0.00000, $cueinfo=1818584692=1.00000, $decklayout=0=0.00000</VDJScriptGlobalVariables>
		<crashGuard>yes</crashGuard>
		<crashReportLevel modified="yes">0</crashReportLevel>
		<poiEditorShowAll modified="yes">yes</poiEditorShowAll>
		<poiEditorSnap modified="yes">no</poiEditorSnap>
		<database>1623093435</database>
		<lastUsedBuild>6886</lastUsedBuild>
		<lastUse modified="yes">1650419732</lastUse>
		<timestamp>612481817</timestamp>
		<nonColoredPoi modified="yes">Default</nonColoredPoi>
		<colorPicker>auto</colorPicker>
		<colorPickersystemCustom />
		<lightShowProgram>Auto</lightShowProgram>
		<settingPage modified="yes">Mapping</settingPage>
		<showTutorials modified="yes">no</showTutorials>
		<shopDemoMode>no</shopDemoMode>
		<dontShowAgain>APCMINI-detected, DDJSB2-detected, eqMode3, customButton, AutoSmartKey, backLoop, videoskin</dontShowAgain>
		<showTipOfTheDay modified="yes">no</showTipOfTheDay>
		<tipOfTheDayAlreadySeen />
		<skinStarterTip>18785</skinStarterTip>
		<limitedEdition>no</limitedEdition>
		<startOfDayHour modified="yes">0</startOfDayHour>
		<eventSchedule />
		<autoUpdateFailedCount modified="yes">0</autoUpdateFailedCount>
		<autoUpdateFailedSvn>0</autoUpdateFailedSvn>
		<autoUpdateFailedTime />
		<automaticDatabaseBackupPeriod>0</automaticDatabaseBackupPeriod>
		<databaseBackupLast />
		<databaseBackupLocation />
	</options>
	<performance>
		<mathEngine>CPU</mathEngine>
		<mathEnginePriority>Automatic</mathEnginePriority>
		<mathEngineNbThreadsOffset>0</mathEngineNbThreadsOffset>
		<precomputeStems>Create manually</precomputeStems>
		<skinFPS modified="yes">30</skinFPS>
		<sampleRate>44100</sampleRate>
		<latency modified="yes">512</latency>
		<ultraLatency>yes</ultraLatency>
		<maxPreloadLength modified="yes">-1</maxPreloadLength>
		<maxStemLength>163</maxStemLength>
		<pitchQuality modified="yes">4</pitchQuality>
		<scratchFilterQuality modified="yes">12</scratchFilterQuality>
		<songLoadPriority>normal</songLoadPriority>
		<experimentalBeatAnalyzer modified="yes">yes</experimentalBeatAnalyzer>
		<experimentalSkinEngine modified="yes">auto</experimentalSkinEngine>
		<useLowPowerGPU modified="yes">Low Power</useLowPowerGPU>
		<experimentalWaveColors>yes</experimentalWaveColors>
		<safeVideoDecode>no</safeVideoDecode>
		<analyzeSongsOnView>no</analyzeSongsOnView>
		<keepBPMonAnalyzerUpdate modified="yes">yes</keepBPMonAnalyzerUpdate>
		<peakAudioCpu modified="yes">0.171566</peakAudioCpu>
		<peakAudioCpuStems>0.0</peakAudioCpuStems>
	</performance>
</settings>
